/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

html{
    background-color: rgb(216, 208, 208);

}

/* HEADER */

.banner{
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    height: 75px;
    
}


.box-logo{
    vertical-align: middle;
    width: 400px;
    top:10px;
    padding: 10px;
}

.title{
    font-size: 45px;
    color: black;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}

/* MAIN */

.core-list{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    margin-top: 50px;
    padding: 10px;

}


.anchor-tag{
    padding: 15px;
    margin-top: 20px;
    margin-left: 30px; 
    margin-bottom: 50px;
    width: 80%;
    background-color: white;
    padding: 10px; 

}



.add-task{
    background-color: rgb(100, 199, 245);
    color: white;
    width: 15px;
    aspect-ratio: 2;
    border-radius: 15% ;
    text-decoration: none;
    padding: 5px;

}

.add-section{
    color: gray;
    width: 15px;
    aspect-ratio: 2;
    border-radius: 15%;
    border: 1px solid grey;
    text-decoration: none;
    padding: 5px;
    background-color: white;

}

.box-list{
    margin: 15px;
    /* padding: 10px; */
    width: 80%;
    background-color: white;
}

.main-title-list{
    margin-top: 30px;
}

ul{
    list-style: none;

}

.main-title-list{
    display: inline-block;
    margin: 30px 15px;
    
}

ul span{
    margin: 15px;    
}



.editorial{
    color: white;
    background-color: rgb(71, 71, 218);
    width: 40px;
    height:20px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
    margin: 20px 10px;
}

.goals{
    color: white;
    background-color: rgba(115, 49, 230, 0.867);
    width: 40px;
    height:30px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
    margin: 20px 10px ;
}

.recruiting{
    color: white;
    background-color: rgba(49, 175, 49, 0.867);
    width: 40px;
    height:30px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
}


.mobile{
    color: white;
    background-color: rgba(244, 145, 24, 0.867);
    width: 40px;
    height:30px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
}
.website{
    color: white;
    background-color: rgba(235, 89, 89, 0.867);
    width: 40px;
    height:30px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
}
.sales{
    color: white;
    background-color: rgba(100, 216, 5, 0.867);
    width: 40px;
    height:30px;
    border-radius: 20%;   
    padding: 3px; 
    font-size: small;
}


.cross{

    display: inline-block;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255); 
    border: 2px solid red;
    width: 20px;
   height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    font-size: 14px;
    
}

.check{
   display: inline-block;
   color: green;
   background-color: white; 
   border: 2px solid green;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   text-align: center;
   line-height: 20px;
   font-weight: bold;
   font-size: 14px;
}
