*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

html{
    background-color: rgb(243, 241, 241);

}

header{
    background-color: white;
    margin: 0;
    
}

.core-list{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    margin-top: 50px;
    padding: 10px;

}

.add-task{
    background-color: blue;
    color: white;
    width: 15px;
    aspect-ratio: 2;
    border-radius: 15% ;
}

.add-selection{
    color: gray;
    width: 15px;
    aspect-ratio: 2;
    border-radius: 15%;

}

.anchor-tag{
    border-bottom: 2px darkgray;
}